body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
.calculator {
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
  
.display {
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    overflow: hidden;
}
  
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}
  
.btn {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    outline: none;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.wide {
    grid-column: span 2;
}
  
.btn:hover {
    background-color: #e0e0e0;
}
  
.operator {
    background-color: #f0ad4e;
    color: #fff;
}
  
.operator:hover {
    background-color: #ec971f;
}
  